.v2-content-carousel {
  --content-carousel-row-gap: 24px;
  --content-carousel-list-gap: 8px;
  --content-carousel-col-gap: 16px;
  --content-carousel-container-margin: 16px;
  --static-content-card-width: 85%;
  --content-carousel-interactive-gap: 40px;
}

.v2-content-carousel__row {
  display: flex;
  flex-flow: column;
  gap: var(--content-carousel-row-gap);
}

.v2-content-carousel__col {
  display: flex;
  flex-direction: column;
  gap: var(--content-carousel-col-gap);
}

.v2-content-carousel__text-col {
  padding-right: 32px;
}

.v2-content-carousel__media-col {
  margin-left: calc(var(--content-carousel-container-margin) * -1);
  margin-right: calc(var(--content-carousel-container-margin) * -1);
}

.v2-content-carousel__media-list {
  list-style-type: none;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: var(--content-carousel-list-gap);
  margin: 0;
}

.v2-content-carousel__media-list::before,
.v2-content-carousel__media-list::after {
  content: '';
  display: block;
  flex: 0 0 var(--content-carousel-container-margin);
  min-height: 1px;
}

.v2-content-carousel__media-list::after {
  flex: 0 0 calc(var(--content-carousel-container-margin) / 2);
}

.v2-content-carousel__media-list::-webkit-scrollbar {
  display: none;
}

.v2-content-carousel__media-item {
  scroll-margin: 0 var(--content-carousel-container-margin);
  scroll-snap-align: start;
  flex: 0 0 var(--static-content-card-width);
}

.v2-content-carousel__heading {
  font: var(--f-heading-5-font-size) / var(--f-heading-5-line-height) var(--ff-volvo-novum-medium);
  letter-spacing: 0.25px;
}

.v2-content-carousel__text {
  margin-top: 0;
  margin-bottom: 0;
}

.v2-content-carousel__figure {
  position: relative;
  margin: 0;
}

.v2-content-carousel__video {
  object-fit: cover;
  width: 100%;
}

.v2-content-carousel__figure picture,
.v2-content-carousel__figure .v2-content-carousel__video {
  aspect-ratio: 574/474;
  display: block;
  background-color: var(--media-background);
  border-radius: var(--border-radius);
  margin-bottom: 16px;
}

.v2-content-carousel__figure img,
.v2-content-carousel__figure .video-js {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.v2-content-carousel__figure-text {
  font: var(--f-overline-font-size) / var(--f-overline-line-height) var(--font-family-body);
  letter-spacing: var(--f-overline-letter-spacing);
}

ul.v2-content-carousel__arrowcontrols {
  margin: 0;
  margin-left: var(--content-carousel-container-margin);
  list-style-type: none;
  display: flex;
  gap: 24px;
  align-items: center;
}

.v2-content-carousel__button {
  padding: 0;
}

.v2-content-carousel__button:focus {
  outline: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-content-carousel__button:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: 1px;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-content-carousel__button,
.v2-content-carousel__button:disabled,
.v2-content-carousel__button:disabled:hover {
  background: transparent;
  border: none;
  border-radius: 4px;
}

.v2-content-carousel__button .icon svg {
  width: 48px;
  height: 48px;
}

.v2-content-carousel__button:disabled .icon svg {
  color: var(--c-grey-2);
}

.v2-content-carousel.interactive .v2-content-carousel__text {
  display: none;
}

.v2-content-carousel.interactive .v2-content-carousel__heading {
  font-size: var(--f-heading-3-font-size);
  font-weight: var(--f-heading-3-font-weight);
}

.v2-content-carousel.interactive .v2-content-carousel__row {
  flex-direction: column;
  gap: var(--content-carousel-interactive-gap);
}

.v2-content-carousel.interactive .v2-content-carousel__col {
  gap: var(--content-carousel-interactive-gap);
}

.v2-content-carousel.interactive .v2-content-carousel__text-col {
  align-self: flex-start;
}

.v2-content-carousel.interactive .v2-content-carousel__media-item {
  border-radius: var(--border-radius);
  max-width: 304px;
  overflow: hidden;
  position: relative;
}

.v2-content-carousel.interactive .v2-content-carousel__media-item img {
  transition: 300ms ease all;
}

.v2-content-carousel.interactive .v2-content-carousel__figure {
  position: relative;
}

.v2-content-carousel.interactive .v2-content-carousel__figure picture,
.v2-content-carousel.interactive .v2-content-carousel__figure .v2-content-carousel__video {
  aspect-ratio: 3 / 4;
  background: var(--c-grey-50);
  margin: 0;
}

.v2-content-carousel.interactive .v2-content-carousel__media-item:hover img,
.v2-content-carousel.interactive .v2-content-carousel__media-item:focus img {
  transform: scale(1.05);
}

.v2-content-carousel.interactive .v2-content-carousel__figure-text {
  bottom: 0;
  color: var(--c-white);
  font-size: var(--f-heading-4-font-size);
  font-weight: var(--f-heading-4-font-weight);
  line-height: var(--f-heading-4-line-height);
  left: 0;
  letter-spacing: 0;
  padding: 24px;
  position: absolute;
  transition: padding 300ms;
  width: 100%;
}

.v2-content-carousel.interactive .v2-content-carousel__media-item:hover .v2-content-carousel__figure-text,
.v2-content-carousel.interactive .v2-content-carousel__media-item:focus .v2-content-carousel__figure-text {
  padding-bottom: 32px;
}

.v2-content-carousel.interactive .icon-plus {
  background: var(--c-white);
  color: var(--c-main-black);
  height: 48px;
  width: 48px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 4px;
  padding: 12px;
}

.v2-content-carousel.interactive .icon-plus svg {
  width: 24px;
  height: 24px;
}

.v2-content-carousel.interactive .v2-content-carousel__arrowcontrols {
  padding-left: 0;
}

.v2-content-carousel .v2-video__playback-button {
  display: none;
}

@media screen and (min-width: 744px) {
  .v2-content-carousel {
    --content-carousel-row-gap: 32px;
    --content-carousel-list-gap: 20px;
    --content-carousel-col-gap: 24px;
    --content-carousel-container-margin: 32px;
    --static-content-card-width: clamp(506px, 68%, calc((100% - var(--content-carousel-list-gap)) / 1.25));
    --content-carousel-interactive-gap: 48px;
  }

  .v2-content-carousel__media-col {
    gap: 32px;
  }

  p.v2-content-carousel__text {
    font-size: var(--f-body-2-font-size);
    letter-spacing: var(--f-subtitle-2-letter-spacing);
    line-height: var(--f-caption-line-height);
    max-width: var(--text-block-max-width);
  }
}

@media screen and (min-width: 1200px) {
  .section.v2-content-carousel-container .v2-content-carousel-wrapper {
    max-width: 1440px;
    padding-left: 64px;
    width: 100%;
    padding-right: 20px;
  }

  .v2-content-carousel {
    --content-carousel-row-gap: 72px;
    --content-carousel-container-margin: 20px;
    --static-content-card-width: calc((100% - var(--content-carousel-list-gap)) / 1.8);
    --content-carousel-interactive-gap: 80px;
  }

  .v2-content-carousel__col {
    min-width: 21rem;
  }

  .v2-content-carousel__row {
    flex-direction: row;
  }

  .v2-content-carousel__text-col {
    align-self: center;
    padding-right: 0;
  }

  .v2-content-carousel__heading {
    font-size: var(--f-heading-4-font-size);
  }

  .v2-content-carousel__figure-text {
    font: var(--f-body-font-size) / var(--f-body-line-height) var(--font-family-body);
    letter-spacing: var(--f-body-letter-spacing);
  }

  .v2-content-carousel__media-col {
    position: relative;
  }

  .v2-content-carousel__media-col::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--content-carousel-container-margin);
    background: var(--background-color);
  }

  .v2-content-carousel.interactive .v2-content-carousel__heading {
    font-size: var(--f-heading-1-font-size);
    max-width: 60%;
  }

  .v2-content-carousel.interactive .v2-content-carousel__col {
    width: 100%;
  }

  .v2-content-carousel.interactive .v2-content-carousel__media-item {
    max-width: 377px;
  }

  .v2-content-carousel.interactive .v2-content-carousel__figure-text {
    padding: 40px;
  }

  .v2-content-carousel.interactive .icon-plus {
    right: 40px;
    top: 40px;
  }
}
