:root {
  --gap: 16px;
  --large-gap: 32px;
  --columns-2: 2;
  --columns-3: 3;
  --width-value-2col: calc((100% / var(--columns-2)) - (var(--gap) / var(--columns-2)));
  --width-value-3col: calc((100% / var(--columns-3)) - ((var(--gap) * 2) / var(--columns-3)));
  --width-value-large-2col: calc((100% / var(--columns-2)) - (var(--large-gap) / var(--columns-2)));
  --width-value-large-3col: calc((100% / var(--columns-3)) - ((var(--large-gap) * 2) / var(--columns-3)));
}

.section.v2-specifications-container .v2-specifications__accordion details > *{
    padding: 24px 0;
}

.v2-specifications-container .accordion__title {
    margin: 0;
}

.v2-specifications__cell .content {
  padding-block: 0;
}

.v2-specifications-container .v2-specifications__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap);
}

.v2-specifications-container .accordion__title :is(h1, h2, h3, h4, h5, h6) {
    font-size: var(--f-heading-6-font-size);
    letter-spacing: var(--f-heading-6-letter-spacing);
    line-height: var(--f-heading-6-line-height);
    font-weight: 500;
    color: var(--text-color);
}

.v2-specifications-container .accordion__observation p{
    color: var(--text-subtle);
    font-family: var(--font-family-body);
    font-size: var(--f-subtitle-1-font-size);
    font-style: italic;
    line-height: var(--f-subtitle-1-line-height);
    letter-spacing: var(--f-subtitle-1-letter-spacing);
    margin: 0;
}

.v2-specifications-container .v2-specifications__cell {
    margin-bottom: 24px;
}

.redesign-v2 .v2-specifications-container .v2-specifications__cell p {
    color: var(--text-color);
    font-family: var(--font-family-body);
    font-size: var(--f-body-2-font-size);
    line-height: var(--f-body-2-line-height);
    letter-spacing: var(--f-body-2-letter-spacing);
    margin: 0;
}

.redesign-v2 .v2-specifications-container .v2-specifications__cell p:first-of-type {
    color: var(--text-subtle);
    font-size: var(--f-subtitle-1-font-size);
    line-height: var(--f-subtitle-1-line-height);
    letter-spacing: var(--f-subtitle-1-letter-spacing);
    margin: 0 0 8px;
}
    
.v2-specifications-container .v2-specifications__cell ul {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    padding-left: 25px;
}
    
.v2-specifications-container .v2-specifications__cell ul li {
    width: 100%;
    font-size: var(--f-body-font-size-desktop);
    font-family: var(--font-family-body);
    letter-spacing: var(--f-body-letter-spacing-desktop);
    line-height: var(--f-body-2-line-height);
    color: var(--text-color);
}

.v2-specifications-container .v2-specifications__cell :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 500;
    color: var(--text-color);
}

.v2-specifications-container div.v2-specifications__row .v2-specifications__cell.v2-specifications__only-cell {
    width: 100%;
}

.v2-specifications-container .accordion__content {
    display: flex;
    column-gap: var(--gap);
    padding-top: 12px;
    flex-direction: column;
}

.v2-specifications-container .accordion__content .v2-specifications__cell-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* mobile specifications for each accordion depending on the number of columns, from 1 to 3 */
.v2-specifications-container .accordion__content.number--columns-2 .v2-specifications__cell {
    width: var(--width-value-2col);
}

.v2-specifications-container .accordion__content.number--columns-3 .v2-specifications__cell {
    width: var(--width-value-3col);
    margin-bottom: 40px;
}

.v2-specifications-container .accordion__content.number--columns-3 .v2-specifications__cell p:first-of-type {
    letter-spacing: var(--f-body-letter-spacing);
}

@media (min-width:744px) {
    .v2-specifications-container .v2-specifications__cell {
        margin-bottom: 32px;
    }
    
    .v2-specifications-container .v2-specifications__cell ul li {
        width: 30%;
    }

    .v2-specifications-container .v2-specifications__cell-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--large-gap);
    }

    /* tabblet specifications for each accordion depending on the number of columns, from 1 to 3 */
    .v2-specifications-container .accordion__content.number--columns-1 .v2-specifications__cell {
        width: 100%;
    }
    
    .v2-specifications-container .accordion__content.number--columns-1 .v2-specifications__row {
        width: var(--width-value-2col);
    }

    .v2-specifications-container .accordion__content.number--columns-1 {
        flex-flow: row wrap;
    }

    .v2-specifications-container .accordion__content.number--columns-3 .v2-specifications__cell {
        margin-bottom: 32px;
    }
}

@media (min-width:992px) {
    .v2-specifications-container .v2-specifications__cell {
        margin-bottom: 40px;
    }

    .v2-specifications-container .accordion__content,
    .v2-specifications-container .accordion__content.number--columns-2 .v2-specifications__row,
    .v2-specifications-container .accordion__content.number--columns-3 .v2-specifications__row {
        column-gap: var(--large-gap);
    }

    /* desktop specifications for each accordion depending on the number of columns, from 1 to 3 */
    .v2-specifications-container .accordion__content.number--columns-1 .v2-specifications__row {
        width: var(--width-value-large-3col);
    }

    .v2-specifications-container .accordion__content.number--columns-2 .v2-specifications__cell {
        width: var(--width-value-large-2col);
    }

    .v2-specifications-container .accordion__content.number--columns-3 .v2-specifications__cell {
        width: var(--width-value-large-3col);
        margin-bottom: 40px;
    }
}