.press-releases__article img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: 16px;
}

.press-releases__article p {
  margin-bottom: 8px;
  font-size: var(--body-font-size-xxs);
}

.press-releases__article span.date {
  font-size: var(--body-font-size-xs);
  line-height: 20px;
  color: var(--volvo-text-light-gray);
}

.press-releases__article h3 {
  margin: 12px 0 18px;
}

.press-releases__search-bar {
  display: flex;
  margin-bottom: 48px;
}

.press-releases__search-bar input {
  font-size: var(--body-font-size-xs);
  margin-bottom: unset;
  max-width: unset;
  height: 64px;
  padding: 15px 30px;
  border: 1px solid transparent;
  background-color: var(--background-light-gray);
}

.press-releases__search-bar input::placeholder {
  opacity: 0.5;
}

.press-releases__search-bar input:hover {
  outline-offset: -2px;
}

.press-releases__search-bar input:focus {
  box-shadow: none;
  outline: 0;
}

.press-releases__search-bar button {
  background-color: var(--c-cta-blue-default);
  color: var(--c-white);
  border: 0;
  font-size: 16px;
  min-width: 64px;
}

.press-releases__no-results-message {
  font-size: var(--body-font-size-m);
  text-align: center;
  text-transform: uppercase;
}

.block.press-releases .article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block.press-releases .article-list article {
  padding: 2em 0;
  border-top: 1px solid var(--background-light-gray);
}

@media screen and (min-width: 744px) {
  .block.press-releases .article-list article {
    display: grid;
    grid-template-columns: 25% calc(75% - 30px);
    gap: 30px;
  }
}
