:root {
  --dealer-locator-height: 100vh;
  --dealer-locator-min-height: 600px;
}

.redesign-v2 .section.full-width .dealer-locator-wrapper{
  padding: 0;
  width: 100%;
}

.block.dealer-locator {
  padding: 0;
}

.block.dealer-locator .dealer-locator__mount {
  position: relative;
  width: 100%;
  height: var(--dealer-locator-height);
  min-height: var(--dealer-locator-min-height);
}

@media (min-width: 905px) {
  :root {
    --dealer-locator-height: calc(100vh - var(--nav-height));
  }
}
