.v2-key-facts-wrapper {
  text-align: center;
}

.v2-key-facts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.v2-key-facts .v2-key-facts__row {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-flow: row wrap;
  gap: 32px 8px;
}

.v2-key-facts .v2-key-facts__row.v2-key-facts__centered {
  align-items: end;
  gap: 40px;
}

.v2-key-facts .v2-key-facts__row.v2-key-facts__centered.v2-key-facts__two-items {
  flex-flow: unset;
  align-items: baseline;
}

.v2-key-facts__video,
.v2-key-facts__row .embed-video {
  width: 100%;
  position: relative;
}

.v2-key-facts__row .embed-video,
.v2-key-facts__row--with-media .v2-key-facts__video,
.v2-key-facts__row--with-media .v2-key-facts__image img {
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  max-height: 510px;
}

.v2-key-facts .video-js {
  height: 100%;
  width: 100%;
}

.v2-key-facts .video-js video {
  object-fit: cover;
}

.v2-key-facts__key-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 4px);
  gap: 8px;
}

.v2-key-facts__centered .v2-key-facts__key-item {
  width: 100%;
}

.v2-key-facts__row--with-text p {
  margin: 0;
}

.v2-key-facts .v2-key-facts__row--with-text .v2-key-facts__key-title {
  --title-scale-factor: 1;

  color: var(--c-cta-blue-default);
  font-size: calc(var(--title-scale-factor) * var(--f-heading-4-font-size));
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 0;
}

.v2-key-facts__key-title > span.small {
  display: inline-block;
}

.v2-key-facts .v2-key-facts__row--with-text .v2-key-facts__key-subtitle {
  font-size: var(--f-subtitle-2-font-size);
  letter-spacing: var(--f-subtitle-2-letter-spacing);
  line-height: var(--f-subtitle-2-line-height);
}

.v2-key-facts .v2-key-facts__row--with-text .small {
  --text-scale-factor: 1;

  font-size: calc(var(--f-heading-6-font-size) * var(--text-scale-factor));
}

@media (min-width: 744px) {
  .v2-key-facts__row .embed-video,
  .v2-key-facts__row--with-media .v2-key-facts__video,
  .v2-key-facts__row--with-media .v2-key-facts__image img {
    aspect-ratio: 3 / 2;
  }

  .v2-key-facts .v2-key-facts__row:not(.v2-key-facts__centered) {
    gap: 0 16px;
  }

  .v2-key-facts__key-item {
    width: calc(25% - 16px);
  }

  .v2-key-facts .v2-key-facts__row--with-text.v2-key-facts__centered {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .v2-key-facts {
    flex-direction: row;
    gap: 20px;
  }

  .v2-key-facts__row .embed-video,
  .v2-key-facts__row--with-media .v2-key-facts__video,
  .v2-key-facts__row--with-media .v2-key-facts__image img {
    aspect-ratio: unset;
    height: 100%;
    border-radius: var(--border-radius);
    min-height: 700px;
  }

  .v2-key-facts .v2-key-facts__row:not(.v2-key-facts__centered) {
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
  }

  .v2-key-facts__key-item {
    width: unset;
    text-align: left;
  }

  .v2-key-facts__centered .v2-key-facts__key-item {
    text-align: center;
  }

  .v2-key-facts .v2-key-facts__row--with-text:not(.v2-key-facts__centered) {
    min-width: 21rem;
    width: 21rem;
    padding: 40px 0 40px 24px;
  }

  .v2-key-facts .v2-key-facts__row--with-text.v2-key-facts__centered {
    gap: 20px;
  }

  .v2-key-facts .v2-key-facts__row--with-text .v2-key-facts__key-title {
    font-weight: 300;
  }

  .v2-key-facts .v2-key-facts__row--with-text.v2-key-facts__centered .v2-key-facts__key-title {
    --title-scale-factor: 1.5;
  }

  .v2-key-facts .v2-key-facts__row--with-text .small {
    --text-scale-factor: 1.2;
  }
}
